<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>SERVER_IDP</key>
        <string>https://ns206615.ovh.net:443/</string>
        
        <key>SERVER_MSS</key>
        <string>https://ns308758.ovh.net:443/</string>
        
        <key>SERVER_ENROLLEMENT</key>
        <string>https://ns206615.ovh.net:443/</string>
        
        <key>ID_PROVIDER_DOMAIN</key>
        <string>https://ns206615.ovh.net:443/</string>
    </dict>
</plist>
