<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SERVER_IDP</key>
	<string>https://mss-idp-dev-mss.santeos.aw.atos.net:10444/</string>
	<key>SERVER_MSS</key>
	<string>https://mss-msg-dev-mss.santeos.aw.atos.net:10445/</string>
	<key>SERVER_ENROLLEMENT</key>
	<string>https://mss-auth-dev-mss.santeos.aw.atos.net:10443/</string>
	<key>ID_PROVIDER_DOMAIN</key>
	<string>https://mss-idp-dev-mss.santeos.aw.atos.net:10444</string>
</dict>
</plist>
